# Automatic Call Log Cleaning

In [1]:
# Importing numpy and pandas
import numpy as np
import pandas as pd

In [2]:
# Reading in Call Data and creating data frame
df = pd.read_csv('All Calls _ 06_05_2022 - 06_11_2022.csv')

In [3]:
#removing all outbound calls
df = df.drop(df[df['Initial Direction'] == 'outbound'].index).reset_index(drop=True)

In [4]:
#Fixes answered/missed call data
df['Missed'].mask(df['Answered'] == 1, 0, inplace=True)

In [64]:
#Adds calls during shift times
def addTimes(df, date, StartTime, EndTime):
    
    Start = str(date) + ' ' + str(StartTime)
    End = str(date) + ' ' + str(EndTime)
    NewDay = str(date) + str(' 00:00:01')
    
    df['Time'] = df['Date/Time (earliest)'].apply(pd.to_datetime)
    
    df1 = pd.DataFrame()
    df1 = df.loc[df['Time'].between(Start,End)]
    
    return df1

df1 = addTimes(df, '2022-06-11', '9:00:00', '22:00:00')
df1

,Call ID,Date/Time (earliest),Duration,Initial Direction,Inbound,Outbound,Answered,Missed,Time
2,7fd5f908-78fc-4c59-b2ad-60f26834f24f,06/11/2022 09:33:32 PM,00:00:43,inbound,1,1,1,0,2022-06-11 21:33:32
3,75d0e09b-9526-4d5c-a9d1-7d116f13b2c7,06/11/2022 09:21:46 PM,00:00:52,inbound,2,0,1,0,2022-06-11 21:21:46
4,8ab29f7f-dd00-47cb-bc2b-2a26fe143ad6,06/11/2022 08:25:33 PM,00:01:00,inbound,2,0,1,0,2022-06-11 20:25:33
5,e84efce7-3546-4649-bac9-347e0b076092,06/11/2022 08:07:55 PM,00:00:37,inbound,2,0,1,0,2022-06-11 20:07:55
6,4ded63c2-9a3c-47ef-a3a6-d62a041a8f84,06/11/2022 07:53:32 PM,00:01:40,inbound,2,0,1,0,2022-06-11 19:53:32
7,54eb10d0-8d4f-4943-918b-37038ae8afc6,06/11/2022 07:41:41 PM,00:04:25,inbound,1,1,1,0,2022-06-11 19:41:41
8,43485aa8-1f6b-43e3-9b11-423baf9e8d46,06/11/2022 04:27:37 PM,00:01:33,inbound,2,0,1,0,2022-06-11 16:27:37
9,576c6a89-dfb5-49be-a718-64e06e842297,06/11/2022 01:10:04 PM,00:01:04,inbound,2,0,1,0,2022-06-11 13:10:04
10,8f2d9cf1-f77c-416f-abbc-6b9e8393a3eb,06/11/2022 11:43:44 AM,00:00:55,inbound,2,0,1,0,2022-06-11 11:43:44
11,19759fc7-99a6-4a56-bd7b-a25b5cca2ca6,06/11/2022 11:43:02 AM,00:01:03,inbound,2,0,1,0,2022-06-11 11:43:02
12,0e825364-e36c-45c3-ac7c-3b8e446b8cf7,06/11/2022 11:21:58 AM,00:02:04,inbound,2,0,0,1,2022-06-11 11:21:58
13,7fd8fb80-ee21-463c-be26-62bce8653493,06/11/2022 11:04:53 AM,00:01:04,inbound,2,0,1,0,2022-06-11 11:04:53
14,86417f31-e35c-47ce-a82e-2a52f3d5b887,06/11/2022 10:18:34 AM,00:02:03,inbound,2,0,0,1,2022-06-11 10:18:34

In [6]:
#Reading in shifts and creating data frame
Shifts_df = pd.read_csv('Shifts _ 06_05_2022 - 06_11_2022.csv')
Shifts_df['Date'] = Shifts_df['Date'].apply(pd.to_datetime)
Shifts_df

,Employee Export Code,Employee Name,Date,Start,End,Mealbreak,Total Hours,Total Cost,Employee Comment,Area Export Code,Area Name,Location Code,Location Name,Leave,Manager's Comment,Firstname,Lastname
0,Adalyn N. Osentoski-Strom,Addi Osentoski,2022-06-06,15:00:00,21:00:00,0:00:00,6.00,60.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Addi,Osentoski
1,Adalyn N. Osentoski-Strom,Addi Osentoski,2022-06-07,15:00:00,21:00:00,0:00:00,6.00,60.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Addi,Osentoski
2,NaN,Cristina Rodriguez,2022-06-05,9:06:00,13:16:00,0:00:00,4.17,0.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Cristina,Rodriguez
3,NaN,Cristina Rodriguez,2022-06-06,8:19:00,14:17:00,0:00:00,5.97,0.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Cristina,Rodriguez
4,NaN,Cristina Rodriguez,2022-06-06,15:03:00,15:51:00,0:00:00,0.80,0.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Cristina,Rodriguez
5,NaN,Cristina Rodriguez,2022-06-07,8:37:00,15:36:00,0:00:00,6.98,0.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Cristina,Rodriguez
6,NaN,Cristina Rodriguez,2022-06-08,8:29:00,15:19:00,0:00:00,6.83,0.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Cristina,Rodriguez
7,NaN,Cristina Rodriguez,2022-06-09,8:06:00,15:03:00,0:00:00,6.95,0.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Cristina,Rodriguez
8,NaN,Cristina Rodriguez,2022-06-10,8:22:00,15:32:00,0:00:00,7.17,0.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Cristina,Rodriguez
9,NaN,Maya Fisher,2022-06-05,12:57:00,19:04:00,0:00:00,6.12,76.500,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Maya,Fisher
10,NaN,Maya Fisher,2022-06-08,14:56:00,21:00:00,0:00:00,6.07,75.875,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Maya,Fisher
11,NaN,Maya Fisher,2022-06-09,14:56:00,21:00:00,0:00:00,6.07,75.875,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Maya,Fisher
12,NaN,Maya Fisher,2022-06-10,14:59:00,22:00:00,0:00:00,7.02,87.750,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Maya,Fisher
13,NaN,Maya Fisher,2022-06-11,14:53:00,22:00:00,0:00:00,7.12,89.000,NaN,NaN,Bookeeping,SUM,Sumiko Maser Office,NaN,NaN,Maya,Fisher

In [65]:
#Combining all calls for shifts worked
calls_df = pd.DataFrame()
for i,row in Shifts_df.iterrows():
    df2 = addTimes(df, row['Date'], row['Start'], row['End'])
    if len(df2.columns) != 0:
        calls_df = pd.concat([calls_df, df2])
calls_df

,Call ID,Date/Time (earliest),Duration,Initial Direction,Inbound,Outbound,Answered,Missed,Time
88,4cf10c70-9830-4f34-838f-7904ee6837d6,06/06/2022 07:43:50 PM,00:01:25,inbound,2,0,0,1,2022-06-06 19:43:50
89,e10e06c1-a761-4dda-8fdf-65a89dee2993,06/06/2022 07:42:25 PM,00:01:21,inbound,2,0,0,1,2022-06-06 19:42:25
90,ec87eb5e-bf35-40b0-8bfa-07112d42eb41,06/06/2022 05:31:07 PM,00:00:00,inbound,1,0,0,1,2022-06-06 17:31:07
91,b30f1b4a-07d7-43ba-9c67-2238d331c88d,06/06/2022 05:29:14 PM,00:00:00,inbound,1,0,0,1,2022-06-06 17:29:14
92,264cf3fb-76db-4ec4-89ac-d1c505524d8d,06/06/2022 05:28:50 PM,00:00:19,inbound,2,0,1,0,2022-06-06 17:28:50
...,...,...,...,...,...,...,...,...,...
4,8ab29f7f-dd00-47cb-bc2b-2a26fe143ad6,06/11/2022 08:25:33 PM,00:01:00,inbound,2,0,1,0,2022-06-11 20:25:33
5,e84efce7-3546-4649-bac9-347e0b076092,06/11/2022 08:07:55 PM,00:00:37,inbound,2,0,1,0,2022-06-11 20:07:55
6,4ded63c2-9a3c-47ef-a3a6-d62a041a8f84,06/11/2022 07:53:32 PM,00:01:40,inbound,2,0,1,0,2022-06-11 19:53:32
7,54eb10d0-8d4f-4943-918b-37038ae8afc6,06/11/2022 07:41:41 PM,00:04:25,inbound,1,1,1,0,2022-06-11 19:41:41
8,43485aa8-1f6b-43e3-9b11-423baf9e8d46,06/11/2022 04:27:37 PM,00:01:33,inbound,2,0,1,0,2022-06-11 16:27:37

<class 'pandas.core.frame.DataFrame'>